div {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 300px;
    padding: 5px;
    border: 1px solid #ccc;
}

input[type="text"] {
    margin-bottom: 10px;
}

textarea {
    height: 100px;
}

button {
    margin-top: 10px;
    border-width: 1px;
    border-color: lightgray;
    padding: 3px;
}